.custContainer {
    display: block;
    background-color: rgb(0,0,0,25%);
    padding: 5px;
    border: 3px solid rgb(255 255 255/40%);
    border-radius: 5px;
    box-shadow: inset 0 0 50px 0 rgb(0,0,0,10%);
    margin-top: 5px;
    width: 46.9%;
    height: 150px;
    opacity: .7
}
.newsItem {
    font-size: 0px;
    color: rgb(255 255 255 / 0%);
    margin-bottom: 0px
}

#newsHolder {
    pointer-events: none;
    padding: 0px;
    z-index: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: left;
    font-size: 0px;
    border-radius: 0px;
    background-color: rgb(0 0 0 / 0%);
}

#newsHed {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff0;
    font-size: 0px;
    line-height: 0px;
    text-align: center;
    background-image: linear-gradient(to right,#fbc02d00,#ff6a0b00);
    z-index: 0;
    padding: 0px;
    padding-right: 0px;
    border-top-right-radius: 0px
}

#newsStat {
    position: absolute;
    right: 0px;
    bottom: 0;
    color: #fff0;
    background: rgb(0 0 0 / 0%);
    font-size: 0px;
    line-height: 0px;
    z-index: 0;
    padding: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-top-left-radius: 0px;
    color: rgba(255,255,255,.5)
}

#newsStatV {
    color: #fff0
}

#newsBody {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 0px;
    min-width: 0px
}

.newsIMG {
    width: 0px;
    max-width: 0px;
    height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    object-fit: none;
    border-radius: 0px
}

.newsIMG:hover {
    opacity: .0
}

.menuItem .menuItemTitle {
    margin-top: -20%;
    color: #0000;
}
.menuItemTitle{
    font-size: 0;
}
#menuHolder {
    background-image: linear-gradient(to top, #000000b5, #39ff144a, transparent, #39ff144a, #000000b3);
}
#instructionHolder {
    backdrop-filter: blur(20px);

}
.button, .button:hover { 
    border: green ! important;
}
#mainLogo {
    z-index: 99999999;
    transform: translate(-1300px, 1270px) scale(2.2);
    display:block !important;
   content:url(https://media.discordapp.net/attachments/899510535312248922/899684753823907890/Virdzs_Krunker_Logo.PNG?width=859&height=483);
}
#aHolder,#onetrust-consent-sdk {
    display:none !important;
}
#uiBase.onMenu #spectateUI {
    display: block!important;
    position: fixed;
    bottom: 48.5%;
    top: unset;
    left: 50%;
    right: unset;
    transform: translate(-50%, 50%);
    z-index: 1;
    width: 10px;
    height: 10px;
}

#uiBase.onMenu #spectateHUD {
    display: flex;
    justify-content: center;
    transform: unset;
    left: unset;
}

#uiBase.onMenu #specTeam0, #uiBase.onMenu #spec0, #uiBase.onMenu #spec1, #uiBase.onMenu #specNames, #uiBase.onMenu #specStats, #uiBase.onMenu #specContr, #uiBase.onMenu #specKPDContr, #uiBase.onMenu #specSus, #uiBase.onMenu #specTeam1, #uiBase.onMenu #specGMessage, #uiBase.onMenu #specGameInfo {
    display: none!important
}

#uiBase.onMenu #specTimer {
    transform: translate(1600px, -700px) scale(1.5);
    display: block!important;
    font-size: 35px;
    background-color: transparent;
    color: rgb(0 0 0)
}
#menuItemContainer {
    transform: translate(-80px, 1600px);
    position: absolute;
    left: 0;
    top: 0px;
    bottom: 0;
    width: 3590px;
    display: flex; 
    flex-direction: row;
    top: 0;
    height: 90px;
    border-top-style: solid;
    border-color: white;
    border-radius: 10;
    background: rgb(0 0 0 / 0%)

}
.menuSocialB {
    margin-top: 2900px;
    cursor: pointer

}

.menuSocialB:hover {
    transform: scale(.92);
    opacity: .9
}

.menuSocialB:active {
    transform: scale(.88);
    opacity: .9
}

.discordSocial {
    background-image: url(../img/social-buttons/discord-normal.png)
}

.discordSocial:hover {
    background-image: url(../img/social-buttons/discord-hover.png)
}

.discordSocial:active {
    background-image: url(../img/social-buttons/discord-pressed.png)
}
#menuRegionLabel {
    font-size: 0;
    margin-bottom: 0px
}
#editorBtnM {
    opacity: .0
}
.headerBar div {

    opacity: .0
    color: #00000000;
}
.verticalSeparator {
    display: inline-block;
    background: rgb(255 255 255 / 0%);
    width: 0px;
    height: 0px;
    margin: 0 0px
}
.terms {
    font-size: 0px;
    vertical-align: unset;
    color: rgb(255 255 255 / 0%);
    text-decoration: none;
    pointer-events: none;
    display: none;
}
.verticalSeparatorInline {
    display: inline-block;
    border-left: 0px solid rgb(152 152 152 / 0%);
    height: 0px;
    transform: translateY(0px)
}
#termsInfo {
    background-color: rgb(0 0 0 / 0%);
    padding: 0px 0px 0px 0px;
    border-top-left-radius: 0px;
    margin-right: 0px;
}
#mapInfo {
    color: #fff0;
    font-size: 0px;
    margin-bottom: 0px
}
#menuPingText {
    font-size: 0px;
    color: rgb(255 255 255 / 0%)
}
#menuPingDisplay .material-icons {
    opacity: .0
    vertical-align: bottom;
    font-size: 0px
}
#streamContainer {
    pointer-events: none;
    text-align: left;
    font-size: 0px;
    color: rgb(255 255 255 / 0%);
    background-color: rgb(0 0 0 / 0%);
    padding: 0px;
    border-radius: 0px;
    min-width: 0px
}
#streamContainer {
    pointer-events: none;
    text-align: left;
    font-size: 0px;
    color: rgb(255 255 255 / 0%);
    background-color: rgb(0 0 0 / 0%);
    padding: 0px;
    border-radius: 0px;
    min-width: 0px
}
#tlInfHold {
    z-index: 0;
    position: absolute;
    left: 0px;
    top: -9000px;
}
#menuItemContainer{
    z-index: -1
}
.headerBarRight {
    transform: translate(-2550px, 250px) scale(7);
    display:block !important;content:url(https://cdn.discordapp.com/attachments/899510535312248922/900797925804879932/Studio_Project.png);
    right: 0;
    padding-left: 0px;
    border-radius: 0 0 0 0px
}
.headerBar {
    z-index: 0;
    border-radius: 9px;
    position: absolute;
    top: 0;
    height: 70px;
    padding: 0 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: rgb(0 0 0 / 0%);
    pointer-events: auto;
}
#mLevelCont {
    z-index: -9999999;
    transform: translate(2190px, 0px) scaleX(30) scaleY(2);
    display: inline-block;
    background-color: rgb(0 0 0 / 0%)%);
    border-bottom-right-radius: 10px;
    padding-left: 15px;
    padding-right: 4px;
    height: 70px;
    margin-left: 20px
}
.bigMFeatBarI {
    width: 0px;
    height: 0px;
    display: inline-block;
    margin: 0px;
    margin-top: 0px
}
#mLevelContV {
    transform: scaleX(0.04) scaleY(0.6)translate(640px, 20px);
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    line-height: 70px;
    color: #fff;
    text-align: left
}
#mLevelCont {
    z-index:-999999;
    display: inline-block;
    background-color: rgb(0 0 0 / 0%);
    border-bottom: solid;
    border-bottom-radius: 10px;
    border-color: white;
    padding-left: 15px;
    padding-right: 4px;
    height: 70px;
    margin-left: -20px
}
#menuKRCount {
    transform: translate(4000px, 40px);
    display: inline-block;
    color: rgba(255,255,255,.6)
}
#menuJNKCount {
    transform: translate(4030px, 40px);
    display: inline-block;
    color: rgba(255,255,255,.6)
}
.progressBar {
    transform: scaleX(8.9) translate(258.5px, 64px) rotate(180deg);
    width: 100%;
    margin-top: 0;
    height: 10px;
    padding: 2px;
    background: rgba(0,0,0,.9);
    border-radius: 3px
}

.progressBarInner {
    height: 100%;
    background-image: linear-gradient(to right,#040404,#1bff00,94%,white,white);
    transition: width 1s ease-in-out;
    border-radius: 3px
}
#menuAccountUsername {
    font-size: 0px;
    vertical-align: bottom;
    display: inline-block
}
#menuMiniProfilePic {
    vertical-align: top;
    display: inline-block;
    width: 0px;
    height: 0px;
    image-rendering: pixelated;
    margin-right: 10px;
    border-radius: 32px
}
#menuUsernameContainer {
    width: 0px;
    vertical-align: top;
    display: inline-block;
    cursor: pointer!important
}
.krInfo {
    transform: translate(-1000px, 0px);
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    margin-top: -21px
}
.junkInfo {
    transform: translate(-1000px, 0px);
    vertical-align: middle;
    display: inline-block;
    margin-top: -21px;
    cursor: pointer
}
#mailContainer {
    transform: translate(3140px, 45px) scale(1.5);
    position: relative;
    display: inline-block
}

#mailIcon {
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
    pointer-events: all
}
#menuClassName {
    color: #0000;
    font-size: 0px;
    margin-bottom: 10px;
    z-index: 101;
    text-shadow: -1px -1px 0 #20202000,1px -1px 0 #20202000,-1px 1px 0 #20202000,1px 1px 0 #20202000,-2px -2px 0 #202020,2px -2px 0 #202020,-2px 2px 0 #202020,2px 2px 0 #202020,-3px -3px 0 #202020,3px -3px 0 #202020,-3px 3px 0 #202020,3px 3px 0 #202020,-4px -4px 0 #202020,4px -4px 0 #20202000,-4px 4px 0 #202020,4px 4px 0 #202020
}
#menuClassSubtext {
    z-index: 100;
    color: rgba(255,255,255,.5);
    font-size: 0px;
    margin-bottom: -3px;
    text-shadow: -1px -1px 0 #202020,1px -1px 0 #202020,-1px 1px 0 #202020,1px 1px 0 #202020,-2px -2px 0 #202020,2px -2px 0 #202020,-2px 2px 0 #202020,2px 2px 0 #202020,-3px -3px 0 #202020,3px -3px 0 #202020,-3px 3px 0 #202020,3px 3px 0 #202020
}

#menuClassNameTag {
    margin-top: -350px;
    position: absolute;
    text-shadow: none;
    color: #fff0;
    z-index: 100;
    font-size: 0px
}
.menuClassPlayerClan {
    font-size: 0px;
    color: #fff53d;
    margin-top: -120px;
    text-shadow: none;
    vertical-align: middle;
    margin-right: 3px
}
.menuClassLevelBox {
    display: inline-block;
    background-color: rgb(0 0 0 / 0%);
    padding: 10px;
    color: #fff0;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-right: 5px;
    font-size: 0px;
    vertical-align: middle
}
#classPreviewCanvas {
    transform: translate(-3550px, 15px) scale(4) rotateY(180deg);
    margin-bottom: -100px
}
#customizeButton {
    z-index: 999999999999;
    transform: translate(-2800px, -830px) scale(0.4);
    display: inline-block;
    width: 300px;
    text-align: center;
    padding: 15px;
    font-size: 27px!important;
    pointer-events: all;
    padding-bottom: 22px
}
#policeButton {
    transform:translate(400px, 700px);
    margin-right: 10px;
    margin-left: -80px;
    color: #fff;
    display: inline-block;
    border-radius: 6px
}
#subLogoButtons>.button {
    z-index: 999999999999;
    transform: translate(1180px, -1382px) scale(0.85);
    padding-left: 22px;
    padding-right: 22px
}
.button {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    margin-bottom: 6px;
    border: 4px solid #000;
    text-align: center;
    color: #fff;
    pointer-events: all;
    cursor: pointer;
    -webkit-transition: all .08s;
    transition: all .08s;
    height: 30px;
    vertical-align: bottom;
    font-size: 20px!important;
    line-height: 35px;
    background-color: rgb(27 255 0 / 57%)
}
#seasonLabel {
    display:block !important;
    content:url(https://cdn.discordapp.com/attachments/899510535312248922/900798853454921788/PNGPIX-COM-Speech-Bubble-PNG-Transparent-Image-6.png);
    color: #fff;
    height: 34px;
    position: absolute;
    z-index: 999999999;
    top: 170px;
    left: 50%;
    margin-left: 242px;
    border-radius: 4px;
    padding: 3px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    transform: translate(999990px, 99999990px) scale(0);
    text-shadow: -1px -1px 0 #141414,1px -1px 0 #141414,-1px 1px 0 #141414,1px 1px 0 #141414,-2px -2px 0 #141414,2px -2px 0 #141414,-2px 2px 0 #141414,2px 2px 0 #141414,-3px -3px 0 #141414,3px -3px 0 #141414,-3px 3px 0 #141414,3px 3px 0 #141414,-4px -4px 0 #141414,4px -4px 0 #141414,-4px 4px 0 #141414,4px 4px 0 #141414,-5px -5px 0 #141414,5px -5px 0 #141414,-5px 5px 0 #141414,5px 5px 0 #141414,-6px -6px 0 #141414,6px -6px 0 #141414,-6px 6px 0 #141414,6px 6px 0 #141414,-6px 0 0 #141414,6px 0 0 #141414,0 6px 0 #141414,0 -6px 0 #141414
}
.voiceOn:after {
    display: none;
    transform: scale(0);
    content: "mic";
    color: #76ff03
}

.voiceOff:after {
    display: none;
}
#voiceDisplay {
    z-index: 2;
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin-left: 0px;
    width: 0px;
    padding: 0px;
    padding-left: 0;
    font-size: 0px;
    box-sizing: border-box;
    background-color: rgb(0 0 0 / 0%);
    border: 2px solid rgb(0 0 0 / 0%);
    pointer-events: all;
    border-radius: 5px;
    text-align: center;
    color: #fff0
}
.voiceSpeaker {
    display: none;
    font-size: 15px;
    color: #fff
}
.voiceOff:after {
    display: none;
    content: "mic_off"
}
#uiBase.onGame #voiceDisplay {
    left: 0px;
    bottom: 0px
}
#uiBase.onMenu #voiceDisplay {
    display: none;
    transform: scale(0);
    left: 0px;
    bottom: 0px;
}
#instructions {
    display:block !important;
    content:url(https://cdn.discordapp.com/attachments/899510535312248922/900870549281054770/R_1.png);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-40%) scale(0.3) rotate(90deg);
    z-index: 9;
    color: rgba(255,255,255,.8);
    font-size: 32px;
    animation: grow .8s infinite alternate
}
#rankedSoonTm {
    transform: scale(0);
    position: absolute;
    top: -67px;
    left: 10px;
    border: 2px solid #000;
    border-radius: 4px;
    width: auto;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px
}
#weapDisplay {
	position: fixed;
	left: unset;
	right: calc(50% - 10px);
	transform: translateX(50%)!important;
	bottom: 20px
}

.weapIcon {
	filter: brightness(0) drop-shadow(-2px 0px 1px var(--accent)) drop-shadow(2px 0px 1px var(--accent));
	transition-duration: 0.25s;
	height: 0;
	transform: translateY(250px)
}

.weapIcon[style*="1"] {
	opacity: 1 !important;
	height: 70px;
	transform: translateY(0px) rotate(0deg)
}

#weapIconMel {
	margin: 0 !important;
}

.weapKey {
	display: none;
}
:root {
	--accent: #33ff00;
	--aesthetics: #080808;
	--background: #343434;
	--text-color: #fff;
	--duration: 420ms;
	--hp-ammo-size: 52px;
	--game-bg: rgba(0, 0, 0, .3);
	--verified-color: #2196f3;
	--premium-color: gold
}
a[href],
a[style*="right"],
a[onclick],
a {
	color: var(--accent)
}
:root {
	--accent-color: #ff4d4d;
	--health-color: #00ff0d;
	--ammo-color: #000000;
	--premium-color: #fbc02d;
	--verified-color: #40c4ff;
	--menu-bg-color: rgba(15, 15, 15, 0);
	--menu-bg-color-secondary: rgba(0, 0, 0, 0);
	--ingame-bg-color: rgba(15, 15, 15, 0);
	--text-transform: lowercase;
	--hp-size: 92px
}
#ammoDisplay {
    background-color: transparent;
    letter-spacing: 2px;
    width: 100px;
    height: 65px;
    border-radius: 0;
    position: fixed;
    right: 31%;
    bottom: 25%;
    padding: 0;
    padding-top: 0;
    padding-left: 0;
    transform: none;
}

#ammoVal {
    color: var(--ammo-color);
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 12px;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0);
}

#ammoMax {
    display: none;
}

#ammoIcon {
    display: none;
}

#reloadMsg {
    background: transparent !important;
}
#healthValueHolder {
    background-color: transparent;
    width: 100px;
    height: 65px;
    border-radius: 0;
    position: fixed;
    left: 30%;
    bottom: 25%;
    padding: 0;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    align-items: center;
}

#healthValue {
    color: var(--health-color);
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    margin-top: 0;
    will-change: unset;
}

#maxHP {
    display: none;
}

#challIcon {
    display: none !important;
}

#healthBar {
    display: none;
}
#streakCount {
    position: fixed;
    transform: translateX(-50%);
    top: 85%;
    left: 50%;
    background-color: transparent;
    text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#streakIcon {
    filter: drop-shadow(2px 2px 3px rgba(30, 30, 30, .5));
}

.kfItem {
    border-radius: 0;
    background-color: var(--ingame-bg-color);
}

#killStreakHolder {
    position: fixed;
    left: 53%;
    top: 80%;
}

.killStreakItem {
    width: 50px;
    height: 50px;
    background-color: transparent;
}

#hudClassIcon {
    display: none;
}
#timerDisplay {
	text-align: center;
	position: fixed;
	transform: translateX(-50%);
	top: 0;
	left: 50%;
	width: 150px;
	height: 35px;
	padding: 0;
	padding-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	border-radius: 0;
	background-color: var(--ingame-bg-color);
	will-change: unset;
}

#timerVal {
	font-size: 28px;
	padding-left: 0;
	will-change: unset;
}

#timerIcon {
	display: none;
}
#hiddenClasses {
    z-index: 99999999999;
    display:flex !important;
    flex-direction:row;
    position:fixed;
    left:50%;
    bottom:13%;
    transform:translate(-1065px, -1165px);
    margin-right:10px;
}

#menuClassPicker0[onclick="selectClass(0)"],#menuClassPicker1[onclick="selectClass(1)"],#menuClassPicker2[onclick="selectClass(2)"],#menuClassPicker3[onclick="selectClass(3)"],#menuClassPicker4[onclick="selectClass(4)"],#menuClassPicker5[onclick="selectClass(5)"],#menuClassPicker6[onclick="selectClass(6)"],#menuClassPicker7[onclick="selectClass(7)"],#menuClassPicker8[onclick="selectClass(8)"],#menuClassPicker9[onclick="selectClass(9)"],#menuClassPicker10[onclick="selectClass(10)"],#menuClassPicker11[onclick="selectClass(11)"],#menuClassPicker12[onclick="selectClass(12)"],#menuClassPicker13[onclick="selectClass(13)"],#menuClassPicker14[onclick="selectClass(14)"] {
	display:block;
	width:60px;
	height:60px;
	pointer-events:auto;
	image-rendering:pixelated;
	margin-right:10px;
    filter:saturate(0);
    transition:filter 0.5s;
}

#menuClassPicker0[onclick="selectClass(0)"] {
    transform: translate(110px, -120px) scale(0.55);
    content:url(https://assets.krunker.io/textures/classes/icon_0.png?build=uLz7w);
}

#menuClassPicker1[onclick="selectClass(1)"] {
    transform: translate(90px, -120px) scale(0.55);
    content:url(https://assets.krunker.io/textures/classes/icon_1.png?build=uLz7w);
}

#menuClassPicker2[onclick="selectClass(2)"] {
    transform: translate(70px, -120px) scale(0.55);
    content:url(https://assets.krunker.io/textures/classes/icon_2.png?build=uLz7w);
}

#menuClassPicker3[onclick="selectClass(3)"] {
    transform: translate(50px, -120px) scale(0.55);
    content:url(https://assets.krunker.io/textures/classes/icon_3.png?build=uLz7w);
}

#menuClassPicker4[onclick="selectClass(4)"] {
    transform: translate(30px, -120px) scale(0.55);
    content:url(https://assets.krunker.io/textures/classes/icon_4.png?build=uLz7w);
}

#menuClassPicker5[onclick="selectClass(5)"] {
    transform: translate(-240px, -80px) scale(0.55);
    content:url(https://assets.krunker.io/textures/classes/icon_5.png?build=uLz7w);
}

#menuClassPicker6[onclick="selectClass(6)"] {
    transform: translate(-260px, -80px) scale(0.55);
    content:url(https://assets.krunker.io/textures/classes/icon_6.png?build=uLz7w);
}

#menuClassPicker7[onclick="selectClass(7)"] {
    transform: translate(-280px, -80px) scale(0.55);
    content:url(https://assets.krunker.io/textures/classes/icon_7.png?build=uLz7w);
}

#menuClassPicker8[onclick="selectClass(8)"] {
    transform: translate(-300px, -80px) scale(0.55);
    content:url(https://assets.krunker.io/textures/classes/icon_8.png?build=uLz7w);
}

#menuClassPicker9[onclick="selectClass(9)"] {
    transform: translate(-320px, -80px) scale(0.55);
    content:url(https://assets.krunker.io/textures/classes/icon_9.png?build=uLz7w);
}

#menuClassPicker10[onclick="selectClass(10)"] {
    transform: translate(-540px, -40px) scale(0.55);
    content:url(https://assets.krunker.io/textures/classes/icon_10.png?build=uLz7w);
}

#menuClassPicker11[onclick="selectClass(11)"] {
    transform: translate(-540px, -40px) scale(0.55);
    content:url(https://assets.krunker.io/textures/classes/icon_11.png?build=uLz7w);
}

#menuClassPicker12[onclick="selectClass(12)"] {
    transform: translate(-560px, -40px) scale(0.55);
    content:url(https://assets.krunker.io/textures/classes/icon_12.png?build=uLz7w);
}

#menuClassPicker13[onclick="selectClass(13)"] {
    transform: translate(-580px, -40px) scale(0.55);
    content:url(https://assets.krunker.io/textures/classes/icon_13.png?build=uLz7w);
}

#menuClassPicker14[onclick="selectClass(14)"] {
    transform: translate(-0px, -0px) scale(0.55);
    content:url(https://assets.krunker.io/textures/classes/icon_14.png?build=uLz7w);    
}

#menuClassPicker0[onclick="selectClass(0)"]:hover,#menuClassPicker1[onclick="selectClass(1)"]:hover,#menuClassPicker2[onclick="selectClass(2)"]:hover,#menuClassPicker3[onclick="selectClass(3)"]:hover,#menuClassPicker4[onclick="selectClass(4)"]:hover,#menuClassPicker5[onclick="selectClass(5)"]:hover,#menuClassPicker6[onclick="selectClass(6)"]:hover,#menuClassPicker7[onclick="selectClass(7)"]:hover,#menuClassPicker8[onclick="selectClass(8)"]:hover,#menuClassPicker9[onclick="selectClass(9)"]:hover,#menuClassPicker10[onclick="selectClass(10)"]:hover,#menuClassPicker11[onclick="selectClass(11)"]:hover,#menuClassPicker12[onclick="selectClass(12)"]:hover,#menuClassPicker13[onclick="selectClass(13)"]:hover,#menuClassPicker14[onclick="selectClass(14)"]:hover {
    cursor:pointer;
    filter:saturate(1) drop-shadow(0 0 20px var(--accent));
    transition:filter 0.5s;
}